<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StuMapper">
	<insert id="InsertStu">
		insert  into student(name,sex,date,num,classroom) values(#{name},#{sex},#{date},#{num},#{classroom});
	</insert>

	<update id="editStu">
		update student set
						  name = #{name},
						  sex = #{sex},
						  date = #{date},
		                	num=#{num},
						  classroom = #{classroom}
		where id = #{id}
	</update>

	<select id="selectAll" resultType="com.example.demo.entity.stu">
		select * from student;
	</select>

	<select id="DeleteStu" parameterType="int" resultType="integer">
		delete  from student where id= #{id};
	</select>
	<select id="getClass" resultType="com.example.demo.entity.stu">
		select * from student where classroom=#{classroom}
	</select>
	<select id="Getstu" resultType="com.example.demo.entity.stu">
		select * from student where id=#{id}
	</select>

</mapper>